<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../css/style-fases.css"">
    <title>Camila - DevPlay!</title>
</head>
<body>
    <img class="background__img" src="../fundo3.jpg" alt="cidade ao fundo">
    <div class = "abertura">
        <h1>Dev Camila</h1>
        <p>Muito bem, vamos iniciar nossa carreira, e estamos com muitas dúvidas de qual área seguir, qual linguágem de programação é a melhor, Front-End, Back-End, HTML não é linguagem de programação.</p>
        <p class="texto__escolha"> Nossa quanta dificuldade, mas surgiram duas opções e vimos uma luz no fim do túnel</p>
        <p class="texto__escolha">Após muito tempo de pesquisa chegamos em duas opções e precisamos que você ajude a decidir</p>
        <div class="perguntas">
            <p>1 - Entrar pra faculdade de Sistemas para Internet</p>
            <p>2 - Resolve estudar por conta própria, pois se considera uma autodidata.</p> 
        </div>
        <a id="btn" href="./primeira.html">Faça sua escolha</a>
    </div>
    <footer>
        <h2>DevPlay!</h2>
        <small>&copy; Todos direitos reservados</small>
    </footer>
</body>
</html>